@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Slider.css */

/* Custom color for the thumb (dot) */
input[type="range"]::-webkit-slider-thumb {
  background-color: green; /* Change this color to your desired color */
}

/* Additional styling for better cross-browser compatibility */
input[type="range"]::-moz-range-thumb {
  background-color: green;
}

input[type="range"]::-ms-thumb {
  background-color: green;
}